<div class="section section-text lg-6 sm-12">
    <div class="inner">
      <h2 class="underline">Contact me</h2>
      <ul>
        <li><a href="mailto:{{ site.email }}">{% include svg/envelope.svg %} {{ site.email }}</a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.social_profile }}">{% include svg/linkedin.svg %} {{ site.social_profile }}</a></li>
        <li><a href="http://www.github.com/{{ site.social_profile }}" target="_blank">{% include svg/github.svg %} {{ site.social_profile }}</a></li>
      </ul>
    </div>
</div>
