*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: $dark;
    font-family: $font-family-primary;
    font-size: $font-size-primary;
    font-weight: 300;
    line-height: $line-height;
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin-bottom: 10px;
    @media only screen and (min-height:37.5em) {
        margin-bottom: 15px;
    }
}
a {
  color: $dark;
  text-decoration: none;
  &:visited {
    color: $dark;
  }
}
