*, *::before, *::after {
  box-sizing: border-box;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: $color-text-dark;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  font-weight: 300;
  line-height: $line-height;
}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 10px;
  @media only screen and (min-height:37.5em) {
      margin-bottom: 15px;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
a {
  color: $color-text-dark;
  text-decoration: none;
  &:visited {
    color: $color-text-dark;
  }
}
li {
  margin-bottom: 0.3em;
}
