.main {
	font-size:0;
	height: 100%;
	overflow:hidden;
	width:100%;
}
.section {
  background: $bg-color-primary;
  display: inline-block;
	font-size: 1rem;
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	vertical-align: top;
}
.inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all .2s ease-in-out;
  background-position: center top;
  background-size: cover;
	display: inline-block;
  transition: all .2s ease-in-out;
}
.section-post {
	.inner {
		height: 100%;
		overflow: hidden;
		width: 100%;
	}
}
.section-text {
  .inner {
    padding: $content-padding * 2;
    text-align: left;
    vertical-align: middle;
  }
}
.post-details {
	bottom: 0;
  height: auto;
  padding: $content-padding;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
}
.underline {
	border-bottom: 3px solid #4a4a4a;
	display: inline-block;
	font-weight: 900;
}
.lg-12 {
  height: 100vh;
  width: 100%;
}
.lg-6 {
  height: 50vh;
  width: 50%;
}
