---
# main sass file
---
@charset "utf-8";

// Colours
$color-white: #fff;
$color-bg: $color-white;
$color-text-dark: #3B3A36;
$color-primary: #54668E;
$color-secondary: #343956;

// Fonts
$font-family-primary: 'Open Sans', sans-serif;
$font-size-primary:   16px;
$line-height: 1.5;

// Spacing & Padding
$content-padding: 2em;
$breakpoint-mobile: 55em;
$breakpoint-mobile-small: 48.5em;

// Import partials
@import
    "reset",
    "base",
    "header",
    "section",
    "section-contact",
    "post";
