---
# main sass file
---
@charset "utf-8";

// Colours
$bg-color-primary: #fff;
$dark: #4a4a4a;

// Fonts
$font-family-primary: 'Open Sans', sans-serif;
$font-size-primary:   16px;
$font-size-secondary:  14px ;
$line-height: 1.5;

// Padding
$content-padding: 2em;
$content-padding-small: 1em;

// Import partials
@import
    "reset",
    "base",
    "header",
    "section";
